* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

:root {
    /* Paleta de cores */
    --cor-principal:#FF6200;

    --cor-secundaria: #525050;

    --cor-botao: #C8BBBD;
}


/* Header */

.container {
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.container img {
    width: 68px;
    padding: 10px;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 0;
}

.navbar a::after {
    content: " ";
    width: 0%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -32px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}

.agency {
    position: relative;
    display: flex;
    background-color: #fff;
    padding: 13px;
    border-radius: 10px;
    width: 160px;
    left: 40px;
}

.agency input {
    position: relative;
    width: 70px;
    font-size: 17px;
    border: none;
    text-align: center;
    color: #383737;
    left: -5px;
}

.linha {
    position: relative;
    color: #383737;
    left: -5px;

}

.icon {
    background-color: var(--cor-botao);
    padding: 13px;
    border-radius: 10px;
    position: relative;
    right: -10px;
    cursor: pointer;
}

.icon ion-icon {
    color: #858383;
    font-size: 20px;
}

.acess {
    position: relative;
    right: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.acess span {
    padding-right: 5px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.account {
    display: inline-block;
    position: relative;
    font-size: 20px;
    right: 60px;
    width: 15%;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    /* border: none; */
    border: 1px solid #fff;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;

}

.account:hover {
    background-color: #fff;
    color: var(--cor-principal);
}

