* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

:root {
    /* Paleta de cores */
    --cor-principal:#FF6200;

    --cor-secundaria: #616161;

    --cor-botao: #C8BBBD;
}

/* Header */

.container {
    background-color: var(--cor-principal);
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
}

/* Logo */

.container img {
    width: 50px;
    cursor: pointer;
}

/* Navegação */

.container ul, li, a {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/* Open account */

.container .account{
    background-color: #fff;
    display: flex;
    padding: 15px;
    width: 170px;
    border-radius: 10px;
}

.account, input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    border: none;
    font-size: 17px;
    color: var(--cor-secundaria);

}

/* Lock */

.lock i {
    position: absolute;
    background-color: var(--cor-botao);
    color: var(--cor-secundaria);
    font-size: 18px;
    display: flex;
    padding: 15px;
    top: 18px;
    border-radius: 10px;
    cursor: pointer;
}



